.container {
    display: flex;
    flex-flow: row wrap;
    
    
}

.container>div {
    background-color: #FAE4E0;
    margin: 10px;
    padding: 5px;
    width: 90px;
    height: 90px;
}

.header {
    font-family: 'header';
    margin-top: 20px;
    
}

.value {
    font-family: 'bold';
    color: #873953;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.label {
    color: black;
    font-size: 18px;
    text-align: center;
}