@font-face {
  font-family: 'content';
  src: url('fonts/1.woff2') format('woff2');
}

@font-face {
  font-family: 'header';
  src: url('fonts/2.woff2') format('woff2');
}

@font-face {
  font-family: 'test3';
  src: url('fonts/3.woff2') format('woff2');
}

@font-face {
  font-family: 'test4';
  src: url('fonts/4.woff2') format('woff2');
}

@font-face {
  font-family: 'test5';
  src: url('fonts/5.woff2') format('woff2');
}

h1 {
  font-family: 'header';
  color: rgb(0, 39, 118);
  font-size: calc(10px + 2vmin);
}

h2 {
  font-family: 'header';
  color: rgb(0, 39, 118);
}

.sb1-button {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-family: 'header';
  color: rgb(0, 39, 118);
}

.sb1-button:hover {
  text-decoration: underline;
}

p {
  font-family: 'content';
  color: rgb(0, 39, 118);
  font-size: 16px;
}

.text {
  font-family: 'content';
  color: rgb(0, 39, 118);
  font-size: 16px;
}

.text-left {
  text-align: left;
  font-family: 'content';
  color: rgb(0, 39, 118);
  font-size: 16px;
}

.chart-text {
  font-family: 'content';
  color: rgb(0, 39, 118);
  font-size: 12px;
}

.content-in-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.input-row {
  margin-top: 12px;
  margin-bottom: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

label {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 320px;
  height: auto;
}


.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 39, 118);
}

.App-header:hover {
  animation: shake 10.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  .76%, 6.84% {transform: translate3d(-1px, 0, 0)}
  1.52%, 6.08% {transform: translate3d(2px, 0, 0)}
  2.28%, 3.8%, 5.32% {transform: translate3d(-4px, 0, 0)}
  3.04%, 4.56% {transform: translate3d(4px, 0, 0)}
}