.content {
    font-family: 'content';
    font-size: 18px;
    width: 400px;
    margin: auto;
    background-color: white;
}

.header {
    font-family: 'header';
    color: white;
    background-color:  #005aa4;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    clip-path: ellipse(65% 100% at 50% 0%);
    overflow: hidden;
}

.footer img {
    display: block;
    width: 260px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 20px;
    pointer-events: none;
}

.main {
    padding: 40px 20px 20px 20px;
}

button {
    font-size: 18px;
    font-family: 'button';
}

b {
    font-size: 34px;
    font-family: 'bold'; 
    color: #005AA4;
}

h2 {
    font-family: 'bold'; 
    color: #002776;
}

h3 {
    font-family: header;
    color: #002776;
}

h4 {
    font-size: 19px;
    font-family: content;
    color: #002776;
}

.dark-green {
    color: #285949;
}